<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbu.javateach666.dao.CompletionDao">
    
	<sql id="CompletionColumns">
	a.id AS "id",
	a.couse_id AS "couseId",
	a.completion_title AS "completionTitle",
	a.completion_answer AS "completionAnswer",
	a.degree AS "degree",
	a.create_time AS "createTime",
	a.is_delete AS "isDelete"
	</sql>
	
	<sql id="CompletionJoins">
	</sql>
	
	<select id="get" resultType="com.ctbu.javateach666.pojo.po.questions.Completion">
		SELECT 
			<include refid="CompletionColumns"/>
		FROM completion a
		<include refid="CompletionJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.ctbu.javateach666.pojo.po.questions.Completion">
		SELECT 
			<include refid="CompletionColumns"/>
		FROM completion a
		<include refid="CompletionJoins"/>
		<where>
		 a.is_delete = '0'
		 <if test="couseId !=null and couseId !=''">
		  and a.couse_id = #{couseId}
		 </if>
		 <if test="degree !=null and degree !=''">
		  and a.degree = #{degree}
		 </if>
		 <if test="bTime !=null and bTime !=''">
		  and a.create_time &gt;= #{bTime}
		 </if>
		 <if test="eTime !=null and eTime !=''">
		  and a.create_time &lt;= #{eTime}
		 </if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO completion(
			id,
			couse_id,
			completion_title,
			completion_answer,
			degree,
			create_time,
			is_delete
		) VALUES (
			#{id},
			#{couseId},
			#{completionTitle},
			#{completionAnswer},
			#{degree},
			#{createTime},
			0
		)
	</insert>
	<update id="update">
		UPDATE completion SET 	
			couse_id = #{couseId},
			completion_title = #{completionTitle},
			completion_answer = #{completionAnswer},
			degree = #{degree},
			create_time = #{createTime}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM completion
		WHERE id = #{id}
	</delete>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE completion SET 
			is_delete = 1
		WHERE id = #{id}
	</update>
	
</mapper>