<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbu.javateach666.dao.JudgmentDao">
    
	<sql id="JudgmentColumns">
	a.id AS "id",
	a.couse_id AS "couseId",
	a.judgment_title AS "judgmentTitle",
	a.judgment_answer AS "judgmentAnswer",
	a.degree AS "degree",
	a.create_time AS "createTime",
	a.is_delete AS "isDelete"
	</sql>
	
	<sql id="JudgmentJoins">
	</sql>
	
	<select id="get" resultType="com.ctbu.javateach666.pojo.po.questions.Judgment">
		SELECT 
			<include refid="JudgmentColumns"/>
		FROM judgment a
		<include refid="JudgmentJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.ctbu.javateach666.pojo.po.questions.Judgment">
		SELECT 
			<include refid="JudgmentColumns"/>
		FROM judgment a
		<include refid="JudgmentJoins"/>
		<where>
		 a.is_delete = '0'
		 <if test="couseId !=null and couseId !=''">
		  and a.couse_id = #{couseId}
		 </if>
		 <if test="degree !=null and degree !=''">
		  and a.degree = #{degree}
		 </if>
		 <if test="bTime !=null and bTime !=''">
		  and a.create_time &gt;= #{bTime}
		 </if>
		 <if test="eTime !=null and eTime !=''">
		  and a.create_time &lt;= #{eTime}
		 </if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO judgment(
			id,
			couse_id,
			judgment_title,
			judgment_answer,
			degree,
			create_time,
			is_delete
		) VALUES (
			#{id},
			#{couseId},
			#{judgmentTitle},
			#{judgmentAnswer},
			#{degree},
			#{createTime},
			0
		)
	</insert>
	<update id="update">
		UPDATE judgment SET 	
			couse_id = #{couseId},
			judgment_title = #{judgmentTitle},
			judgment_answer = #{judgmentAnswer},
			degree = #{degree},
			create_time = #{createTime}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM judgment
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE judgment SET 
			is_delete = 1
		WHERE id = #{id}
	</update>
	
</mapper>