<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctbu.javateach666.dao.SubjectiveDao">
    
	<sql id="SubjectiveColumns">
	a.id AS "id",
	a.couse_id AS "couseId",
	a.subjective_title AS "subjectiveTitle",
	a.subjective_answer AS "subjectiveAnswer",
	a.degree AS "degree",
	a.create_time AS "createTime",
	a.is_delete AS "isDelete"
	</sql>
	
	<sql id="SubjectiveJoins">
	</sql>
	
	<select id="get" resultType="com.ctbu.javateach666.pojo.po.questions.Subjective">
		SELECT 
			<include refid="SubjectiveColumns"/>
		FROM subjective a
		<include refid="SubjectiveJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.ctbu.javateach666.pojo.po.questions.Subjective">
		SELECT 
			<include refid="SubjectiveColumns"/>
		FROM subjective a
		<include refid="SubjectiveJoins"/>
		<where>
		 a.is_delete = '0'
		 <if test="couseId !=null and couseId !=''">
		  and a.couse_id = #{couseId}
		 </if>
		 <if test="degree !=null and degree !=''">
		  and a.degree = #{degree}
		 </if>
		 <if test="bTime !=null and bTime !=''">
		  and a.create_time &gt;= #{bTime}
		 </if>
		 <if test="eTime !=null and eTime !=''">
		  and a.create_time &lt;= #{eTime}
		 </if>
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO subjective(
			id,
			couse_id,
			subjective_title,
			subjective_answer,
			degree,
			create_time,
			is_delete
		) VALUES (
			#{id},
			#{couseId},
			#{subjectiveTitle},
			#{subjectiveAnswer},
			#{degree},
			#{createTime},
			0
		)
	</insert>
	<update id="update">
		UPDATE subjective SET 	
			couse_id = #{couseId},
			subjective_title = #{subjectiveTitle},
			subjective_answer = #{subjectiveAnswer},
			degree = #{degree},
			create_time = #{createTime}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<delete id="delete">
		DELETE FROM subjective
		WHERE id = #{id}
	</delete>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE subjective SET 
			is_delete = 1
		WHERE id = #{id}
	</update>
	
</mapper>